<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net452" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.5.0-ci1120" targetFramework="net452" />
  <package id="MatriX" version="2.1.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.UII.DesktopAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.USD.CoreAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RestSharp" version="106.2.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net452" />
  <package id="XamlAnimatedGif" version="1.1.10" targetFramework="net452" />
</packages>